{% extends "base.html" %}
{% load widget_tweaks %}

{% block left_page_block %}
    <form method="post" action="{% url 'view-add-new-quest' %}">
        {% csrf_token %}
        <div class="row">
            <div class="container rightText">
                <h3>New Question</h3>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                {% render_field form.title id="input_text" type="text" length="20" %}
                    <label for="input_text">{{ form.title.label }}</label>
            </div>
            {% if form.title.errors %}
                <div class="input-field col s4">
                    <a><i class="small material-icons starclass active">warning</i></a>
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="input-field col s8">
                {% render_field form.body id="textarea1" class="materialize-textarea" length="120" %}
                <label for="textarea1">Describe your question</label>
            </div>
            {% if form.body.errors %}
                <div class="input-field col s4">
                    <a><i class="small material-icons starclass active">warning</i></a>
                    <h6 class="pink-text darken-4">{{ form.body.errors }}</h6>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="input-field col s8">
                {% render_field form.tags %}
                <label for="tags">Tags</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s7">
                <div class="input-field">
                    <button class="btn waves-effect waves-light pink darken-1" type="submit" name="action">Ask
                        <i class="material-icons right">input</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
