<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>askPershenkova home</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="grey lighten-4">

<nav>
    <div class="row black">
        <div class="col s4 forLikes">
            <a href={% url 'view-new-quest' %} class="brand-logo left" >ask Pershenkova</a>
        </div>
        <div class="col s4 offset-s3  navSize">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required placeholder="Search">
                        <label for="search">
                            <i class="material-icons">search</i>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        {% block rigistered_user %}

            {% if user.is_authenticated %}
                <div class="col s1">
                    <a href={% url 'view-add-new-quest' %} class="btn-floating btn-large waves-effect waves-light pink tooltipped"
                       data-position="bottom" data-delay="50" data-tooltip="Have a question?">
                        <i class="material-icons">question_answer</i></a>
                    </a>
                </div>
                <div class="col s1">
                    <div class="chip navSize">
                        {% if profile.avatar|length == 0 %}
                            <img src="/uploads/github1.png" alt="Contact Person" class="circle white pictureSize">
                        {% else %}
                            <img src="/uploads/{{ profile.avatar }}" alt="Contact Person" class="circle white pictureSize">
                        {% endif %}
                    </div>

                </div>
                <div class="col s2 navMultiRow">
                    <div class="row navRow">
                        <a>{{ user.username }}</a>
                    </div>
                    <div class="row navRow">
                        <a href={% url 'view-settings' %} class="navMargin">Settings</a>
                        <a href={% url 'view-logout' %}?next={{ request.path }} class="navMargin">Log out</a>
                    </div>
                </div>
            {% else %}
            <div class="col s2">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href={% url 'view-login' %}?next={{ request.path }}>Login</a></li>
                    <li><a href= {% url 'view-registration' %}>Registration</a></li>
                </ul>
            </div>
            {% endif %}
        {% endblock %}
    </div>
</nav>


<div class="row">
    <div class="col s8 topBlocks ">
        {% block left_page_block %}
        {% endblock %}
    </div>


    <div class="col s4 topBlocks">
        {% block right_page_block %}
            <div class="col s9 ">
                <h3 class="center-align rightText">
                    Popular Tags
                </h3>

                <div class="row center-align forTags">
                    <a href="#" class="navMargin blue-text">C</a>
                    <a href="#" class="navMargin red-text">Ruby</a>
                    <a href="#" class="navMargin green-text">SQL</a>
                    <a href="#" class="navMargin pink-text">GitHub</a>
                    <a href="#" class="navMargin green-text">Django</a>
                    <a href="#" class="navMargin pink-text">JavaScript</a>
                    <a href="#" class="navMargin blue-text">Perl</a>
                    <a href="#" class="navMargin orange-text">Haskell</a>
                </div>
            </div>
            <div class="col s9 center-align">
                <h4 class="rightText">
                    Best Members
                </h4>
                <h5><a href="#!" class="red-text">SuperAlex</a></h5>
                <h5><a href="#!" class="blue-text">Programmer</a></h5>
                <h5><a href="#!" class="green-text">Mr.Hot Fix</a></h5>
            </div>
        {% endblock %}
    </div>
</div>



<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>