{% extends "base.html" %}
{% block left_page_block %}
    <div class="row center-align">
        <div class="col s10 offset-s1">
            <div class="row">
                <a href={% url 'view-new-quest' %} class="navMargin hotLinks{% if sort != 'hot' %} active{% endif %}">New questions</a>
                <a href={% url 'view-hot-quest' %} class="navMargin hotLinks{% if sort == 'hot' %} active{% endif %}">Hot questions</a>
            </div>
        </div>
    </div>
    {% for q in objects %}
        <div class="col s10 offset-s1">
            <div class="card hoverable">
                <div class="row">
                    <div class="col s2">
                        <img src="/images/github.png" class="circle avatar insideCardPict">
                        <a class="orange-text text-accent-2 center"><h5 class="forLikes">{{ q.rate }}</h5></a>
                        <div class="row center-align">
                                <a href="#!" js-id="{{ q.id }}" class="down"><i class="small material-icons starclass">call_received</i></a>
                                <a href="#!" js-id="{{ q.id }}" class="up"><i class="small material-icons starclass">call_made</i></a>
                        </div>
                    </div>
                    <div class="col s9">
                        <div class="card-content black-text">
                            <a href={% url 'view-question' q.id %} class="card-title black-text" > {{q.header}} </a>
                            <h7 class="truncate">{{ q.body }}
                            </h7>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s4"><a href="{% url 'view-question' q.id %}">Answers({{ q.count }})</a></div>
                                <div class="col s8">
                                    <div class="row">
                                        <span class="title">Tags:</span>
                                        {% for t in q.tag %}
                                            <a href={% url 'view-by-tag' t.tag %}>{{ t.tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'pagination.html' %}
{% endblock %}