{% extends "base.html" %}

{% block left_page_block %}
    {% if user.is_authenticated %}
        <div class="col s10 offset-s1">
            <div class="col s12 center">
                <button class="btn waves-effect waves-light black">
                    <h6 class="white-text">You are registered - log out to log in again</h6>
                </button>
            </div>
        </div>
    {% else %}
        <form method="post" action="{% url 'view-login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="row center-align">
                <div class="col s6 offset-s1">
                    <div class="row">
                        <a class="registration">Log In</a>
                    </div>
                    {% if form.errors or raise_error %}
                        <div class="col s12 valign-wrapper center">
                            <i class="small material-icons starclass active">warning</i>
                            <h6 class="valign pink-text darken">Sorry, wrong username or password!</h6>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}">Username</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12">
                        {{ form.password }}
                        <label for="{{ form.username.id_for_label }}" type="password">Password</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light pink darken-2" id="submit" type="submit"
                                name="action">
                            Sign in
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col s6 offset-s1">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light black">
                        <a href={% url  'view-registration' %} class="white-text">create a new account</a>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}