<div class="col s10 offset-s1">
    <ul class="pagination">
        {% if objects|length > 0 %}
            {% if objects.has_previous %}
                <li class="waves-effect"><a href="?page={{ objects.previous_page_number }}">
                    <i class="material-icons">chevron_left</i></a>
                </li>
            {% endif %}

            {% if objects.show_first %}
                <li class="waves-effect"><<a href="?page=1">1</a></li>
            {% endif %}

            {% for x in objects.paginator.page_range %}
                {% if x > objects.number|add:"-5" and x < objects.number|add:"+5" %}
                    {% if x == objects.number %}
                        <li class="active">
                            <a href="#!">{{ objects.number }}</a>
                        </li>
                    {% else %}
                        <a href="?page={{ x }}">
                            <li class="waves-effect">{{ x }}</li>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if objects.show_last %}
                <li class="waves-effect">
                    <a href="?page={{ objects.paginator.num_pages }}">
                        {{ objects.paginator.num_pages }}
                    </a>
                </li>
            {% endif %}

            {% if objects.has_next %}
                <li class="waves-effect"><a href="?page={{ objects.next_page_number }}">
                    <i class="material-icons">chevron_right</i>
                </a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>