{% extends "base.html" %}
{% load widget_tweaks %}

{% block left_page_block %}

    {% if this_users_quest %}
        <div class="col s10 offset-s1">
            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn waves-effect waves-light black">
                        <a class="white-text">It's your question</a>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="row">
                <div class="col s2">
                    <img src="/images/github.png" class="circle avatar insideCardPict">
                    <h5 class="orange-text text-accent-2 center forLikes">{{ question.rate }}</h5>

                    <div class="row valign">
                        <a href="#!" js-id="{{ question.id }}" class="down"><i class="small material-icons starclass">call_received</i></a>
                        <a href="#!" js-id="{{ question.id }}" class="up"><i class="small material-icons starclass">call_made</i></a>
                    </div>
                </div>
                <div class="col s9">
                    <div class="card-content black-text">
                        <a href="#!" class="card-title black-text">{{ question.header }}</a>

                        <div>
                            <h7>{{ question.body }}
                            </h7>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s8">
                                <div class="row">
                                    <span class="title">Tags:</span>
                                    {% for t in question.tag %}
                                        <a href={% url 'view-by-tag' t.tag %}>{{ t.tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for ans  in objects %}
        <div class="col s10 offset-s1" id="{{ ans.id }}">
            <div class="card  hoverable">
                <div class="row">
                    <div class="col s2">
                        <img src="/images/github.png" class="circle avatar insideCardPict">
                        <h5 class="orange-text text-accent-2 forLikes">{{ ans.rate }}</h5>

                        <div class="row valign">
                            <a href="#!" js-id="{{ ans.id }}" class="ans-down"><i
                                    class="small material-icons starclass">call_received</i></a>
                            <a href="#!" js-id="{{ ans.id }}" class="ans-up"><i class="small material-icons starclass">call_made</i></a>
                        </div>
                    </div>
                    <div class="col s9">
                        <div class="card-content black-text">
                            <h7>{{ ans.body }}
                            </h7>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <form action="#">
                                    <p>
                                        {% if this_users_quest %}
                                            <input type="checkbox" id="check{{ ans.id }}" js-id="{{ ans.id }}"
                                                   {% if ans.id == correct %}checked disabled{% endif %}
                                                   js-q-id="{{ question.id }}"/>
                                            <label for="check{{ ans.id }}">Correct!</label>
                                        {% else %}
                                            <input type="checkbox" id="check{{ ans.id }}" js-id="{{ ans.id }}"
                                                   {% if ans.id == correct %}checked disabled
                                                   {% else %}disabled="disabled"
                                                   {% endif %}
                                                   js-q-id="{{ question.id }}"/>
                                            <label for="check{{ ans.id }}">Correct!</label>
                                        {% endif %}
                                    </p>
                                </form>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {% include 'pagination.html' %}
    <form method="post" action="{% url 'view-question' question.id %}">
        {% csrf_token %}
        <div class="col s10 offset-s1" id="answadd">
            <div class="card  hoverable">
                <div class="row">
                    <div class="input-field col s12">
                        {% render_field form.body id="textarea1" class="materialize-textarea" %}
                        <label for="textarea1">Enter your answer</label>
                    </div>
                    <div class="col s12 offset-s9">
                        <div class="input-field">
                            <button class="btn waves-effect waves-light pink darken-1" type="submit" name="action">send
                                <i class="material-icons right">input</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
