{% extends "base.html" %}
{% load widget_tweaks %}

{% block left_page_block %}
    {% if user.is_authenticated %}
        <div class="col s10 offset-s1">
            <div class="col s12 center">
                <button class="btn waves-effect waves-light black">
                    <h6 class="white-text">You are registered - log out to create a new account</h6>
                </button>
            </div>
        </div>
    {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'view-registration' %}">
            {% csrf_token %}
            <div class="row center-align">
                <div class="col s6 offset-s1">
                    <div class="row">
                        <a class="registration">Registration</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12">
                        {{ form.login }}
                        <label for="{{ form.login.id_for_label }}">
                            Login
                        </label>
                    </div>
                </div>
                {% if form.login.errors %}
                    <div class="input-field col s4">
                        <a><i class="small material-icons starclass active">warning</i></a>
                        <h6 class="pink-text darken-4">{{ form.login.errors }}</h6>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s6 offset-s1 ">
                    <div class="input-field col s12">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12">
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}">
                            Password
                        </label>
                    </div>
                </div>
                {% if form.password.errors %}
                    <div class="col s4">
                        <a><i class="small material-icons starclass active">warning</i></a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="input-field col s12 ">
                        {{ form.pass2 }}
                        <label for="{{ form.pass2.is_for_label }}">
                            Repeat password
                        </label>
                    </div>
                </div>
                {% if form.pass2.errors %}
                    <div class="col s4">
                        <a><i class="small material-icons starclass active">warning</i></a>
                        <h6 class="pink-text darken-4">{{ form.pass2.errors }}</h6>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s6 offset-s1">
                    <div class="file-field input-field">
                        <div class="btn pink darken-1">
                            <span>File</span>
                            {{ form.image }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Choose your avatar">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4 offset-s4">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light pink darken-2" id="submit" type="submit"
                                name="action">
                            Sign up
                            <i class="material-icons right">done</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}