{% extends "base.html" %}
{% load widget_tweaks %}

{% block left_page_block %}
    <form method="post" enctype="multipart/form-data" action="{% url 'view-settings' %}">
        {% csrf_token %}
        <div class="row center-align">
            <div class="col s6 offset-s1">
                <div class="row">
                    <div class="col s3 chip">
                        {% if profile.avatar|length == 0 %}
                            <img src="/uploads/github1.png" alt="Contact Person" class="circle white pictureSize">
                        {% else %}
                            <img src="/uploads/{{ profile.avatar }}" alt="Contact Person" class="circle white pictureSize">
                        {% endif %}
                    </div>
                    <a class="registration">Settings {{ user.username }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s1">
                <div class="input-field col s12">
                    {% render_field form.login placeholder=user.username value="" %}
                    <label for="input_text">Login</label>
                </div>
            </div>
            {% if form.login.errors %}
                <div class="col s3">
                    <a><i class="small material-icons starclass active">warning</i></a>
                    <h6 class="pink-text darken-4">{{ form.login.errors }}</h6>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col s6 offset-s1 ">
                <div class="input-field col s12">
                    {% render_field form.email placeholder=user.email value="" %}
                    <label for="email">Email</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6 offset-s1">
                <div class="file-field input-field">
                    <div class="btn pink darken-1">
                        <span>File</span>
                        {{ form.image }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4 offset-s4">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light pink darken-1" type="submit" name="action">Refresh
                        <i class="material-icons right">loop</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}